@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: 10px;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}