.container-card{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  margin-top: 5rem;

  & img{

    width: 250px;
  height: 250px;
  outline: 2px solid gray;
  transition: all .5s;
  }

  & img:hover{
    outline: 2px solid orange;
  transform: scale(1.1, 1.1);
  }

}